.page-header {
  background-color: aqua;
}
.navigation {
  background-color: beige;
}
.nav-list {
  list-style: none;
  background-color: aquamarine;
}
.nav-item {
  color: bisque;
}
.nav-link {
  color: tomato;
}
